.App {
  text-align: center;
}
input {
  background-color: cadetblue;
  height: 17px;
  width: 50%;
  border: none;
  border-bottom: 2px solid;
  background: transparent;
  outline: transparent;
  padding: 30px;
  margin: 55px auto;
  font-size: 40px;
  overflow-y: scroll;
}
.show {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 65%;
  margin: 134px auto;
  /* overflow-y: scroll; */
}

.school {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  /* border: 1px solid red; */
  color: white;
  font-family: monospace;
  padding: 5px;
  border: 1px solid black;

}

.school:hover {
  background-color: rgba(0,0,0,.5);
  cursor: pointer;
}



.close {
  display: none;
}
